<div class="jumbotron">
    <h2 class="display-4">Challenge description:-</h2>
    <hr class="my-4">
    <p>Background<br>
      So, I have a friend called Frank. He owns a second hand car garage and needs your help!
      He would like you to create a website for his shop. These days Frank only sells his second hand cars online
      and could use a website of his own. With that said I guess we should do this in phases, because you
      know...agile! So it would be best if you start with Phase1!<br><br>
      Phase 1:
      Start by creating a page that will display all of the cars that Frank has across all of his warehouses. Please
      sort the list according to _date_added_ asc.
      Create one GET API to fetch the list of cars.<br><br>
      Phase 2:
      Now, allowing the user to click on any of the cars (that are licensed = true) would make it a lot nicer. Once
      the user clicked on a car, we then show more details such as, the warehouse where it is stored and its
      location perhaps? It is up to you how detailed you want to make it.<br><br>
      Phase 3:
      Wow! Okay, we now have some good functionality! So let’s take it one step further! Let’s allow the user to
      add the car he is viewing to some sort of shopping cart so that he can easily checkout once he is done
      shopping. Oh, and perhaps we should show the user the total amount as well?<br><br>
      Expectation:
      - Project should be in working order.
      - Unit test coverage for both frontend and backend.
      - Application addresses the basic security vulnerabilities.
      - Well-structured and clean code.
      - Documentation to run project.<br><br>
      Summary:
      By no means is the goal to get a solution covering all special cases in a 100% robust way. Requiring this
      would be naive given the time limit!
      It is important that you can explain why you chose your solution instead of another.
      At least the functionality that you deliver should be error free.
      What you implement and how you do it is subject to your creativity and ambition 
      <br><br>
      Good luck!</p>
  </div>