<div class="jumbotron">
    <h1 class="display-3">Hello,</h1>
    <p class="lead">Finding your next car for the best price means comparing what's out there. Use our search tool to find all the used cars for sale in your area and get quotes on new ones.</p>
    <hr class="my-4">
    <p>Love Cars? So do I. Before that lets load few cars from Frank's garage..</p>
    <p class="lead">
     <button class="btn btn-primary" type="submit" (click)='loadAllCars($event)'>Load All Cars...</button>
     <p><span *ngIf='status && status.status'>{{status.status}}. Have a play now...</span><p>
    </p><p>
  </div>